html {
  font-size: 100%;
  font-family: 'Maven Pro', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
h1 {
  font-family: 'Barrio', cursive;
  font-weight: 500;
  font-size: 2.5rem;
  color: #B7DBE4;
}
h2, h3, h4, h5 {
  font-weight: bold;
}


/* A11y */
.offscreen {
  position: absolute;
  left: -1000000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  }


/*  LOGO  */
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.logo:hover h1 {
  color: #E6E6FA;
  text-decoration: none;
}
.logo:hover {
  text-decoration: none;
}
span {
  padding: 0.5rem;
}


/*  NAV  */
nav ul {
  margin-bottom: 1rem;
  padding: 0.2rem;
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-bottom: 2px solid #E6E6E6;
}
nav li {
  display:inline-block;
  padding: 0.5rem; 
}
nav a, nav i {
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
  color: darkgrey;
  text-transform: uppercase;
}

a.effect:hover, li.cart-info:hover {
  color: #3092AF;
  text-decoration: overline;
  transition: color 0.3s linear 0s;
  
}
